.container {
    text-align: center;
    border : 1px solid black;
    background: grey;
    width : 400px;
}

#calcResult {
    background: lightsteelblue;
}

button {
    margin-left: 6px;
    height: 60px;
    width: 60px;
}

#btnDot, #btnStar, #btnSlash, #btnMinus{

 }

#btnClear, #btnBack {
    width: 68px;
}

#info{
    background: lightsteelblue;
}